html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header{
  width: 980px;
  height: 140px;
  background-color:#0d7962;
  border: 2px dashed black;
  margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
}
main{
  width: 980px;
  height: 450px;
  /* background-color: #0d7962; */
  border: 2px dashed black;
  margin-bottom: 20px;
  margin-left: auto;
 margin-right: auto;
}
footer{
  width: 980px;
  height: 70px;
  background-color:#0d7962;
  border: 2px dashed black;
  margin-left: auto;
 margin-right: auto;
}
aside{
  width: 270px;
  height: 450px;
  background-color: #0d7962;
  border: 2px dashed black;
  float: left;
  margin-right: 10px;
}
section{
  width: 690px;
  height: 450px;
  background-color: #0d7962;
  border: 2px dashed black;
  float: left;
}